@import '~bootstrap/scss/bootstrap';
@import 'variables';
body{
  background: scale-color(#157AF6,$lightness:80%);
  color: #157AF6;
}//TODO: add colors to variables.scss

h1 {
  text-align: center;
}
.board {
  min-height: 1px;
  font-size: 5vw;
}
.alerts {
  min-height: 24px;//this is needed to stop the space from shifting
}
.warnings {
  color: $warnings;
}
.square {
    height: 50vw;
    width: 50vw;
    max-height: 60vh;
    max-width: 60vh;
}
