@import '~bootstrap/scss/bootstrap';
@import 'variables';
body{
  background: rgb(37, 35, 37);
  color: #157AF6;
}//TODO: add colors to variables.scss

h1 {
  text-align: center;
}
.board {
  min-height: 1px;
}
.alerts {
  min-height: 24px;
}
.warnings {
  color: $warnings;
}
.square {
    height: 50vw;
    width: 50vw;
    max-height: 60vh;
    max-width: 60vh;
}
