@import '~bootstrap/scss/bootstrap';
@import 'variables';
body{
  background: $text-accent;
  color: $text-color;
  transition: 200ms ease;
}

h1,
h3 {
  text-align: center;
}
.board {
  min-height: 1px;
  font-size: 5vw;
  transition: 2000ms ease;
  &:hover {
    background:#6C757D;
  }
}
.alerts {
  min-height: 24px;//this is needed to stop the space from shifting
}
.warnings {
  color: $warnings;
}
.square {
    height: 50vw;
    width: 50vw;
    max-height: 60vh;
    max-width: 60vh;
}
.buttonFix{
  min-height: 1px;
  font-size: 5vw;
}
// .innerGameBoard{
//   transform: rotate3d(1, .4, 0, 70deg);
// }
